<nav class="lightbulb-navbar">
    <div class="lightbulb-nav-item">
        <a class="lightbulb-link" href="{{ url_for('main.index') }}">Home</a>
    </div>
    <div class="lightbulb-nav-item">
        <a class="lightbulb-link" href="{{ url_for('main.services') }}">Services</a>
    </div>
    <div class="lightbulb-nav-item">
        <a class="lightbulb-link" href="{{ url_for('main.terminology') }}">Terminology</a>
    </div>
    <div class="lightbulb-nav-item">
        <a class="lightbulb-link" href="{{ url_for('main.about') }}">About Us</a>
    </div>
</nav>